*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fontColor: rgb(0, 0, 0);
    --darkPink: rgb(193, 76, 169);
    --lightPink: rgb(248, 154, 181);
    --darkBlue: rgb(54, 64, 163);
    --purple: rgb(110, 64, 160);
}
body{
    font-family: 'montserrat', sans-serif;
    color: var(--fontColor);
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--fontColor);
}
ul{
    list-style: none;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 900;
    margin: 10px 0;
    text-align: center;
}
.section-description{
    width: 40%;
    text-align: center;
    font-size: 1.13rem;
    margin: 15px 0 20px 0;
}

/* COMIENZAN MEDIA QUERIES */
@media(max-width: 600px){
    .section-title{
        font-size: 1.5rem;
    }
    .section-description{
        width: 100%;
    }
}
@media(min-width: 700px) and (max-width: 900px){
    .section-title{
        font-size: 2rem;
    }
    .section-description{
        width: 100%;
    }
}
