.header-content{
    width: 100%;
    height: 10vh;
    padding: 1rem 0 2rem 0;
    background-color: var(--darkPink);
    box-shadow: 0 0 1.25rem 0 rgba(46, 46, 46, 0.384);
    position: fixed;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
}
.header-nav-menu{
    display: flex;
    width: 50%;
}
.header-nav-condensed-menu{
    display: none;
}
.condensed-menu-icon{
    visibility: hidden;
}
.header-nav-item{
    margin: 0 0.6rem;
}
.header-nav-link{
    padding: 0.6rem 1rem;
    border-radius: 3.1rem;
    font-size: 1.1rem;
    color:var(--secondPink);
}
.header-nav-link:hover{
    color: var(--darkBlue);
}
.nav-button{
    background-color: var(--secondPink);
    border: 1px solid var(--secondPink);
    color: var(--darkPink);
    border-radius: 1.8rem;
    height: 2vh;
}
.nav-button:hover{
    background-color:var(--darkPink);
    color: var(--secondPink);
}
/* COMIENZAN MEDIA QUERIES */

@media(min-width:320px) and (max-width: 800px){
    .header-content{
        width: 9%;
        height: 6vh;
        border-radius: 0 10px 10px 0;
        box-shadow: none;
        position: fixed;
        background-color: transparent;
        padding: 1rem 1.5rem;
        min-height: 3rem;
    }
    .header-nav{
        display: none;
    }
    .header-nav-condensed-menu, 
    .header-nav-condensed-menu .condensed-menu-icon{
        position: absolute;  
        width: 3rem;
        height: 3rem;
        display: block;
    }
    .header-nav-condensed-menu .condensed-menu-icon{
        font-size: 3rem;
        color: var(--darkPink);
        pointer-events: none;
        display: block;
    }
    .header-nav-condensed-menu{
        opacity: 0; 
    }
    .condensed-menu-icon{
        color: var(--darkPink);
        font-size: 1rem;
        visibility: visible;
    }
    .condensed-menu-icon:hover{
        cursor: pointer;
    }
    .header-content input:checked ~ .header-nav{
        display: flex;
        justify-content: center;
    }
    .header-nav-menu{
        flex-direction: column;
        background-color: rgba(193, 76, 170, 0.541);
        width: 31.25rem;
        height: 10.625rem;
        margin-left: 9.375rem;
    }
    .header-nav-item{
        margin: 0.5rem 0;
        padding: 0.1875rem;
    }
    .header-nav-link{
        padding: 0.1875rem;
        border-radius: 3.1rem;
        font-size: .9rem;
        font-weight: 500;
        color: rgb(255, 255, 255);
    }
    .header-content input:checked ~ .fa-bars{
        display: none;
    }
    .header-content input:not(:checked) ~ .fa-times{
        display: none;
    }
}
@media(min-width:801px) and (max-width:1240px){
    .header-content{
        width: 100%;
        height: 5.3125rem;
    }
    .header-nav{
        justify-content: center;
    }
}