.knowledge{
    width: 100%;
    height: 110vh;
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.knowledge-container, 
.knowledge-text, 
.knowledge-grid, 
.knowledge-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.knowledge-grid{
    margin: 0.62rem;
}
.knowledge-item-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.knowledge-item{
    width: 15%;
    height: 26vh;
    background-color: rgb(255,255,255);
    box-shadow: 1px 1px 4px rgba(193, 76, 170, 0.459);
    margin: 0.62rem;
    border-radius: 0.62rem;
}
.knowledge-item:hover{
    border-radius: 0.62rem;
    border: 3px solid rgb(193, 76, 169);
    color: rgb(193, 76, 169);
}
.knowledge-icon{
    font-size: 5em;
}
.icon-title{
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 1.25rem;
}

/* COMIENZAN MEDIA QUERIES */

@media(min-width:320px) and (max-width:679px){
    .knowledge{
        height: 100vh;
        min-height: 35.5rem;
    }
    .knowledge-container{
        padding: 1.25rem;
    }
    .knowledge-item-row{
        width: 100%;
        align-items: center;
    }
    .knowledge-item{
        width: 6.875rem;
        height: 5rem;
    }
    .knowledge-icon{
        font-size: 2em;
    }
    .icon-title{
        font-size: .65em;
        margin-top: 0.62rem;
    }
}
@media(min-width: 680px) and (max-width: 1440px){
    .knowledge{
        height: 100vh;
    }
    .knowledge-item-row{
        width: 100%;
        align-items: center;
    }
    .knowledge-item{
        width: 12.5rem;
        height: 12.5rem;
    }
    .knowledge-icon{
        font-size: 2.5rem;
    }
    .icon-title{
        font-size: 1.3rem;
        margin-top: 0.62rem;
    }
}