.knowledge{
    width: 100%;
    height: 110vh;
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.knowledge-container, .knowledge-text, .knowledge-grid, .knowledge-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.knowledge-grid{
    margin: 10px;
}
.knowledge-item-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.knowledge-item{
    width: 260px;
    height: 230px;
    background-color: rgb(255,255,255);
    box-shadow: 1px 1px 4px rgba(193, 76, 170, 0.459);
    margin: 10px;
    border-radius: 10px;
}
.knowledge-item:hover{
    border-radius: 10px;
    border: 3px solid rgb(193, 76, 169);
    color: rgb(193, 76, 169);
}
.knowledge-icon{
    font-size: 80px;
}
.icon-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}