.quote{
    width: 100%;
    height: 55vh;
    background-color: var(--darkBlue);
    color: rgb(255,255,255);
    font-family: 'Nothing You Could Do', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 6.25rem;
}
.quote-icon{
    font-size: 5rem;
    margin-bottom: 1.25rem;
}
.quote-text{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
.quote-autor{
    font-size: 2.3rem;
    font-family: 'Mansalva', cursive;
    color: var(--secondPink);
}
/* COMIENZA TEXTO FLOTANTE AL PASAR EL CURSOR POR BLOCKQUOTE */

/* Invisible texto */
.quote-translation{
    display: none; 
    transition: all .5s;
}
  /* Visible texto */
  blockquote:hover > .quote-translation{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .5s;
    height: 8vh;
    padding: .93rem;
    background-color: var(--purple);
    color: rgb(255,255,255);
    font-size: 1.56rem;
    border-radius: .62rem;
}
/* TERMINA TEXTO FLOTANTE AL PASAR EL CURSOR POR BLOCKQUOTE */

/* COMIENZAN MEDIA QUERIES */

@media(max-width:679px){
    .quote-container{
        padding: 0 2rem;
    }
    .quote-icon{
        font-size: 2rem;
    }
    .quote-text{
        font-size: 1rem;
    }
    .quote-autor{
        font-size: 1.5rem;
    }
    blockquote:hover > .quote-translation{
        display: none;
     }
}
@media(min-width: 680px) and (max-width: 900px){
    .quote-container{
        padding: 0 2rem;
    }
    .quote-icon{
        font-size: 2.5rem;
    }
    .quote-text{
        font-size: 1.6rem;
    }
    .quote-autor{
        font-size: 1.8rem;
    }
    blockquote:hover > .quote-translation{
       display: none;
    }
}