.projects{
    width: 100%;
    height: 175vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-container{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-grid{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.projects-item{
    width: 345px;
    height: 345px;
    border: 1px solid rgba(179, 177, 177, 0.637);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-item:hover{
    border-radius: 10px;
    border: 3px solid rgb(54, 64, 163);
    color: rgb(54, 64, 163);
}
.projects-item-img{
    width: 300px;
    height: 150px;
}
.projects-item-description{
    font-weight: 600;
    margin-top: 30px;
}