.projects, .projects-container, .projects-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects{
    width: 100%;
    height: 175vh;
    background-color: rgb(255, 255, 255);
}
.projects-container{
    width: 100%;
}
.projects-grid{
    width: 100%;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-item{
    width: 22vw;
    height: 39vh;
    box-shadow: 1px 1px 4px rgba(193, 76, 170, 0.459);
    border-radius: 4%;
    margin: 0.62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-item:hover{
    border-radius: 0.62rem;
    border: 3px solid rgb(54, 64, 163);
    color: rgb(54, 64, 163);
}
.projects-item-img{
    width: 90%;
    height: 21vh;
}
.portfolio-02{
    display: none;
}
.projects-item-description{
    font-weight: 600;
    margin-top: 1.87rem;
    text-align: center;
}
@media(min-width: 300px) and (max-width: 900px){
    .projects{
        height: 110vh;
        padding: 1.9rem;
    }
    .projects-item{
        width: 30vw;
        height: 20vh;
        padding-bottom: .2rem;
    }
    .projects-item-img{
        max-width: 50%;
    }
    .portfolio-01{
        display: none;
    }
    .portfolio-02{
        display: flex;
        padding: 1.25rem 0;
    }
    .projects-item-description{
        margin-top: .2rem;
        font-size: .8rem;
    }
}