.contact{
    width: 100%;
    height: 110vh;
    background-color: rgb(255, 230, 237);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 75%;
    height: 600px;
    padding: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgba(193, 76, 170, 0.459);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-column{
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-column-two{
    margin-left: 30px;
}
.contact-description{
    text-align: left;
    font-size: 1.2rem;
}
.contact-social-list{
    margin: 0px 0px 22px 30px;
    font-size: 1.2rem;
}
.contact-social-item{
    margin-top: 25px;
}
.contact-social-icon{
    font-size: 1.3rem;
    color: rgb(110, 64, 160);
    margin-right: 5px;
    border-radius: 100px;
    padding: 10px 10px;
}
.contact-social-item:hover .contact-social-icon{
    background-color: rgb(245, 180, 198);
}
.contact-social-item:hover .contact-social-link{
    color: rgb(245, 180, 198);
}

/* Columna 2 */
.write-form{
    width: 100%;
    display: flex;
    align-items: center;
}
.write-form-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-name-box{
    display: flex;
    flex-direction: column;
}
.form-label{
    margin-bottom: 10px;
    font-weight: 600;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(240, 241, 245);
    border: none;
    color: rgb(128, 128, 128);
    border-radius: 20px;
    outline: none;
    resize: none;
    overflow: hidden;
}
input:hover, textarea:hover{
    box-shadow: 0 0 5px 0 rgb(193, 76, 169);
}
input:valid, textarea:valid{
    box-shadow: 0 0 5px 0 rgb(82, 240, 54);
}
.write-form-button{
    width: 30%;
    font-size: 1.1rem;
    background-color: rgb(110, 64, 160);
    border: none;
    outline: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.write-form-button:hover{
    background-color: rgba(171, 105, 241, 0.904);
    border:  none;
    cursor: pointer;
}