.contact{
    width: 100%;
    height: 110vh;
    background-color: var(--backgroundPink);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 75%;
    height: 68vh;
    padding: 6.25rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgba(193, 76, 170, 0.459);
    border-radius: .62rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-column-two{
    margin-left: 6.25rem;
    margin-top: 1.2rem;
}
.contact-description{
    text-align: center;
    font-size: 1.2rem;
}
.contact-social-list{
    margin: 0px 0px 22px 30px;
    font-size: 1.2rem;
}
.contact-social-item{
    margin-top: 1.56rem;
}
.contact-social-icon{
    font-size: 1.3rem;
    color: var(--purple);
    margin-right: .31rem;
    border-radius: 50%;
    padding: .62rem;
}
.contact-social-item:hover .contact-social-icon{
    background-color: var(--secondPink);
}
.contact-social-item:hover .contact-social-link{
    color: var(--secondPink);
}

/* Columna 2 */
.write-form{
    width: 100%;
    display: flex;
    align-items: center;
}
.write-form-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-name-box{
    display: flex;
    flex-direction: column;
}
.form-label{
    margin-bottom: .62rem;
    font-weight: 600;
}
input, 
textarea{
    width: 100%;
    padding: .62rem .93rem;
    margin-bottom: .33rem;
    background-color: rgb(240, 241, 245);
    border: none;
    color: rgb(128, 128, 128);
    border-radius: 1.25rem;
    outline: none;
    resize: none;
    overflow: hidden;
}
input:focus, 
textarea:focus{
    box-shadow: 0 0 5px 0 var(--darkPink);
}
input:valid, 
textarea:valid{
    box-shadow: 0 0 5px 0 rgb(82, 240, 54);
}
.write-form-button{
    width: 30%;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background-color: var(--purple);
    border: none;
    outline: none;
    margin-bottom: .39rem;
    padding: .93rem;
    border-radius: 1.56rem;
}
.write-form-button:hover{
    background-color: rgba(171, 105, 241, 0.904);
    border:  none;
    cursor: pointer;
}

/* COMIENZAN MEDIA QUERIES */

@media(min-width:320px) and (max-width:679px){
    .contact{
        height: 50rem;
    }
    .contact-container{
        width: 18.75rem;
        height: 38rem;
        flex-direction: column;
        padding: 0.7rem;
    }
    .contact-column, 
    .contact-column-two{
        width: 100%;
        margin-left: 0;
    }
    .contact-social-item{
        margin: 0.1rem;
    }
    .contact-description{
        font-size: .9rem;
    }
    .contact .contact-social-list, .form-title{
        display: none;
    }
    .write-form-name{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-label{
        font-size: .8rem;
        margin-top: .2rem;
    }
    input{
        padding: .5rem;
        margin: .1rem;
    }
    .write-form-button{
        margin: .3rem 6rem;
        font-size: .9rem;
        padding: .3rem;
    }
}
@media(min-width:680px) and (max-width:1440px){
    .contact-container{
        height: 50rem;
        flex-direction: column;
        padding: 0.625rem;
    }
    .contact-column, 
    .contact-column-two{
        width: 90%;
        margin-left: 0;
    }
    .contact-social-item{
        margin: 0.1rem;
    }
    .contact-description{
        font-size: .9rem;
    }
    .contact-social-list{
        font-size: .7rem;
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-social-icon{
        font-size: .8rem;
        padding: .3rem;
    }
    .write-form{
        justify-content: center;
    }
    .write-form-name{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-label{
        font-size: .8rem;
        margin-top: .2rem;
    }
    input{
        padding: .5rem;
        margin: .1rem;
    }
    .write-form-button{
        margin: .3rem 6rem;
        font-size: .9rem;
    }
}