.contact{
    width: 100%;
    height: 110vh;
    background-color: rgb(255, 230, 237);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 75%;
    height: 68vh;
    padding: 6.25rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgba(193, 76, 170, 0.459);
    border-radius: .62rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-column-two{
    margin-left: 6.25rem;
    margin-top: 1.2rem;
}
.contact-description{
    text-align: center;
    font-size: 1.2rem;
}
.contact-social-list{
    margin: 0px 0px 22px 30px;
    font-size: 1.2rem;
}
.contact-social-item{
    margin-top: 1.56rem;
}
.contact-social-icon{
    font-size: 1.3rem;
    color: rgb(110, 64, 160);
    margin-right: .31rem;
    border-radius: 50%;
    padding: .62rem;
}
.contact-social-item:hover .contact-social-icon{
    background-color: rgb(245, 180, 198);
}
.contact-social-item:hover .contact-social-link{
    color: rgb(245, 180, 198);
}

/* Columna 2 */
.write-form{
    width: 100%;
    display: flex;
    align-items: center;
}
.write-form-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-name-box{
    display: flex;
    flex-direction: column;
}
.form-label{
    margin-bottom: .62rem;
    font-weight: 600;
}
input, textarea{
    width: 100%;
    padding: .62rem;
    margin-bottom: .33rem;
    background-color: rgb(240, 241, 245);
    border: none;
    color: rgb(128, 128, 128);
    border-radius: 1.25rem;
    outline: none;
    resize: none;
    overflow: hidden;
}
input:hover, textarea:hover{
    box-shadow: 0 0 5px 0 rgb(193, 76, 169);
}
input:valid, textarea:valid{
    box-shadow: 0 0 5px 0 rgb(82, 240, 54);
}
.write-form-button{
    width: 30%;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(110, 64, 160);
    border: none;
    outline: none;
    margin-bottom: .39rem;
    padding: .93rem;
    border-radius: 1.56rem;
}
.write-form-button:hover{
    background-color: rgba(171, 105, 241, 0.904);
    border:  none;
    cursor: pointer;
}
@media(min-width: 300px) and (max-width: 900px){
    .contact-container{
        height: 85vh;
        flex-direction: column;
        padding: 50px;
    }
    .contact-column, .contact-column-two{
        width: 100%;
        margin-left: 0;

    }
    .contact-social-item{
        margin: 0.2rem .5rem;
    }
    .contact-description{
        font-size: .9rem;
    }
    .contact-social-list{
        font-size: .7rem;
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-social-icon{
        font-size: 1rem;
        padding: .3rem;
    }
    .form-label{
        font-size: .8rem;
        margin-top: .4rem;
    }
    input, textarea{
        padding: .5rem;
        margin: .1rem;
    }
    .write-form-button{
        margin: .62rem 7.5rem;
        font-size: .9rem;
    }
}