.footer-content{
    width: 100%;
    height: 20vh;
    padding: 0.62rem;
    background-color: rgb(193, 76, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 0.93rem;
}
.footer-nav-menu{
    display: flex;
    width: 100%;
}
.footer-nav-item{
    padding: .62rem .93rem;
}
.footer-nav-link{
    color:rgb(245, 180, 198);
    font-size: 1.1rem;
}
.footer-nav-link:hover{
    color: rgb(54, 64, 163) ;
}
.footer-social-menu{
    display: flex;
    justify-content: center;
}
.footer-social-link{
    color: rgb(193, 76, 169); 
    background-color:rgb(245, 180, 198);
    border: 1px solid rgb(245, 180, 198);
    border-radius: 50%;
    padding: .31rem .62rem;
    font-size: 2rem;
    margin: 1.25rem .93rem;
}
.footer-social-link:hover{
    background-color:rgb(193, 76, 169);
    color: rgb(245, 180, 198);
}
.footer-text{
    font-size: 1.1rem;
    color: rgb(245, 180, 198);
    margin-top: 1.25rem;
}
.footer-heart{
    color: rgb(110, 64, 160);
    font-size: 1.2rem;
}
@media(min-width: 300px) and (max-width: 900px){
    .footer-content{
        height: 15vh;
    }
    .footer-nav-link, .footer-text, .footer-heart{
        font-size: .9rem;
    }
    .footer-social-link{
        font-size: 1.1rem;
    }
}