.footer-content{
    width: 100%;
    height: 25vh;
    padding: 0.62rem;
    background-color: var(--darkPink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 0.93rem;
}
.footer-nav-menu{
    display: flex;
    width: 100%;
}
.footer-nav-item{
    padding: .62rem .93rem;
}
.footer-nav-link{
    color: var(--secondPink);
    font-size: 1.1rem;
}
.footer-nav-link:hover{
    color: var(--darkBlue);
}
.footer-social-menu{
    display: flex;
    justify-content: center;
}
.footer-social-link{
    color: var(--darkPink); 
    background-color: var(--secondPink);
    border: 1px solid var(--secondPink);
    border-radius: 50%;
    padding: .34rem .62rem;
    font-size: 2rem;
    margin: 1.25rem .93rem;
}
.footer-social-link:hover{
    background-color: var(--darkPink);
    color: var(--secondPink);
}
.footer-text{
    font-size: 1.1rem;
    color: var(--secondPink);
    margin-top: 1.25rem;
}
.footer-heart{
    color: var(--purple);
    font-size: 1.2rem;
}
/* MEDIA QUERIES */

@media(min-width:320px) and (max-width:679px){
    .footer-nav-link, 
    .footer-text, 
    .footer-heart{
        font-size: .62rem;
    }
    .footer-nav-item{
        padding: .62rem;
    }
    .footer-social-link{
        font-size: 1.1rem;
        padding: .40rem .62rem;
    }
}

@media(min-width: 680px) and (max-width: 1440px){
    .footer-nav-link, 
    .footer-text,
    .footer-social-link, 
    .footer-heart{
        font-size: 1.2rem;
    }
}